.idea
.nx
.next
.env
build
dist
node_modules
tmp

tsconfig.tsbuildinfo
tsconfig.build.tsbuildinfo
next-env.d.ts
logs
*.iml
*.log
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*