@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: #1f2937;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: #1f2937;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* If the user prefers light mode,
we still enforce color-scheme: dark, despite the user preference */
@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
}
